{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Aplikasi Dispenda V.1.0">
    <meta name="author" content="Suryo Adhy Chandra - 081213270275">

    <title>Literatur Perkantas Admin</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/bapenda.ico' %}"/>
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <input type="hidden" value="{{mywebsite}}" id="mywebsite">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon d-flex justify-content-center">
                    <img src="{% static 'img/logo.jng'%}" class="my-2 w-100" alt=""/>
                </div>
                <div class="sidebar-brand-text mx-3"><img src="{% static 'img/logo.jpg'%}" class="w-100 rounded shadow" alt="logo literatur perkantas"/></div>
            </a>

            <!-- Divider -->
            <!-- <hr class="sidebar-divider my-0"> -->

            

            <!-- Divider -->
            <!-- <hr class="sidebar-divider"> -->
            <li class="nav-item ">
                <a class="bg-gradient-primary fw-bold  p-1 nav-link collapsed text-white" href="#" data-toggle="collapse" data-target="#profile"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-user-circle"></i>
                    <span class="text-black">Welcome, {{user.username|title}}!</span>
                </a>
                <div id="profile" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">login:<br>{{user.last_login}}</h6>
                        <a class="collapse-item" href="#">Profilku</a>
                        {% if user.is_superuser %}
                        <a class="collapse-item" href="/conf/">Setting Sistem</a>
                        <a class="collapse-item" href="/logs/">Catatan Aktivitas (LOG)</a>
                        {% endif %}
                        <a class="collapse-item text-danger fs-italic fw-bold" style="cursor: pointer;"  data-toggle="modal" data-target="#logoutModal">Logout</a>
                    </div>
                </div>
            </li>
             <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <!-- Heading -->
            <div class="sidebar-heading">
                Master Data
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#golongan"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-circle"></i>
                    <span>Master Golongan</span>
                </a>
                <div id="golongan" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manajemen Golongan:</h6>
                        <a class="collapse-item" href="/master/gol/dis/">Daftar Golongan</a>
                        <a class="collapse-item" href="/master/gol/add/">Menambah Golongan</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#jabatan"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-dot-circle"></i>
                    <span>Master Jabatan</span>
                </a>
                <div id="jabatan" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manajemen Jabatan:</h6>
                        <a class="collapse-item" href="/master/jab/dis/">Daftar Jabatan</a>
                        <a class="collapse-item" href="/master/jab/add/">Menambah Jabatan</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pegawai"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-user-plus"></i>
                    <span>Master Pegawai</span>
                </a>
                <div id="pegawai" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manajemen Pegawai:</h6>
                        <a class="collapse-item" href="/master/peg/dis/">Daftar Pegawai</a>
                        <a class="collapse-item" href="/master/peg/add/">Menambah Pegawai</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dasarsurat"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-newspaper"></i>
                    <span>Master Dasar Surat</span>
                </a>
                <div id="dasarsurat" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manajemen Dasar Surat:</h6>
                        <a class="collapse-item" href="/master/sur/dis/">Daftar Dasar Surat</a>
                        <a class="collapse-item" href="/master/sur/add/">Menambah Dasar Surat</a>
                    </div>
                </div>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Nav Item - Pages Collapse Menu -->
            {% if user.is_superuser%}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pengguna"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-users"></i>
                    <span>Master Pengguna</span>
                </a>
                <div id="pengguna" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manajemen Pengguna:</h6>
                        <a class="collapse-item" href="/master/user/dis/">Daftar Pengguna</a>
                        <a class="collapse-item" href="/master/user/add/">Menambah Pengguna</a>
                    </div>
                </div>
            </li>
            {%endif%}

            

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Transaksi
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#suratTugas"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-envelope"></i>
                    <span>Surat Tugas</span>
                </a>
                <div id="suratTugas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manajemen Surat Tugas:</h6>
                        <a class="collapse-item" href="/surat/dis/">Daftar Surat Tugas</a>
                        <a class="collapse-item" href="/surat/add/">Menambah Surat Tugas</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#evaluasiTugas"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-file"></i>
                    <span>Evaluasi Tugas</span>
                </a>
                <div id="evaluasiTugas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manajemen Evaluasi Tugas:</h6>
                        <a class="collapse-item" href="/lhe/dis/">Daftar Evaluasi Tugas</a>
                        <a class="collapse-item" href="/lhe/add/">Menambah Evaluasi Tugas</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#laporanTugas"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-file-archive"></i>
                    <span>Resume Tugas</span>
                </a>
                <div id="laporanTugas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Manajemen Resume Tugas:</h6>
                        <a class="collapse-item" href="#">Daftar Resume Tugas</a>
                        <a class="collapse-item" href="#">Menambah Resume Tugas</a>
                    </div>
                </div>
            </li>

            
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->
            <!-- <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
            </div> -->

        </ul>

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    {% if mywebsite is not None %}
                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Mencari dari Daftar..."
                                aria-label="Search" aria-describedby="basic-addon2" id="coba">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" onclick="cobaya()">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    {% endif %}

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            {% if mywebsite is None %}
                            {%else%}
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" style="height: 400px;overflow-y: scroll;"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {%endif%}
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                {% if pending_surat.count > 0 %}
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">{{pending_surat.count}}</span>
                                {% endif %}
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Pending Surat Tugas
                                </h6>
                                {% if pending_surat.count > 0%}
                                {% for surat in pending_surat %}
                                    <a class="dropdown-item d-flex align-items-center" href="/surat/add/{{surat.id_surat}}">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="{% static 'img/undraw_profile_1.svg' %}"
                                                alt="...">
                                            <div class="status-indicator bg-danger"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">Nomor: {{surat.nomor_surat}}</div>
                                            <div class="small text-gray-500">{{surat.tujuan}}</div>
                                            <div class="small text-gray-500">Tanggal Dibuat: {{surat.updatedAt}}</div>
                                            <div class="small text-gray-500">Pembuat Surat: {{surat.updatedBy}}</div>
                                        </div>
                                    </a>
                                {% endfor%}
                                {% else %}
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i>Tidak Ada Pending Surat Tugas</i>
                                </a>
                                {% endif %}
                                
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-file fa-fw"></i>
                                {% if pending_lhe.count > 0 %}
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">{{pending_lhe.count}}</span>
                                {% endif %}
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in " style="height: 400px;overflow-y: scroll;"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Pending Laporan Hasil Evaluasi (LHE)
                                </h6>
                                {% if pending_lhe.count > 0%}
                                {% for lhe in pending_lhe %}
                                    <a class="dropdown-item d-flex align-items-center" href="/lhe/add/b1/{{lhe.id_lhe}}/">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="{% static 'img/undraw_profile_2.svg' %}"
                                                alt="...">
                                            <div class="status-indicator bg-danger"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">Nomor LHE: {{lhe.nomor_lhe|title}}</div>
                                            <div class="small text-gray-500">Nomor Surat Tugas: {{lhe.suratTugas}}</div>
                                            <div class="small text-gray-500">Tanggal LHE: {{lhe.updatedAt}}</div>
                                            <div class="small text-gray-500">Pembuat LHE: {{lhe.updatedBy}}</div>
                                        </div>
                                    </a>
                                {% endfor%}
                                {% else %}
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i>Tidak Ada Pending Laporan Hasil Evaluasi tugas</i>
                                </a>
                                {% endif %}
                                
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-file-archive fa-fw"></i>
                                {% if pending_resume.count > 0 %}
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">{{pending_resume.count}}</span>
                                {% endif %}
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" style="height: 400px;overflow-y: scroll;"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Pending Resume Tugas
                                </h6>
                                {% if pending_resume.count > 0%}
                                {% for resume in pending_resume %}
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="{% static 'img/undraw_profile_1.svg' %}"
                                                alt="...">
                                            <div class="status-indicator bg-danger"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">Nomor: {{surat.nomor_surat}}</div>
                                            <div class="small text-gray-500">{{surat.tujuan}}</div>
                                            <div class="small text-gray-500">Tanggal Dibuat: {{surat.updatedAt}}</div>
                                            <div class="small text-gray-500">Pembuat Surat: {{surat.updatedBy}}</div>
                                        </div>
                                    </a>
                                {% endfor%}
                                {% else %}
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i>Tidak Ada Pending Resume Tugas</i>
                                </a>
                                {% endif %}
                                
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <!-- <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-white small fw-bold bg-warning p-2 rounded ">welcome, {{user.username|title}}</span>
                                
                            </a> -->
                            <!-- Dropdown - User Information -->
                            <!-- <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="/logs/">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li> -->

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{menuname}}</h1><sub>{{pathway}}</sub>
                    </div>
                    {% if status %}
                        <div class="alert alert-success w-100">
                            {{status}}        
                        </div>
                    {%endif%}
                    
                    {% block contents%}    
                    {% endblock %}

                    <!-- Content Row -->
                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        {% now "Y" as current_year %}
                        <span><i>Copyright &copy; Bapenda Semarang {% if current_year != '2024' %}2024-{%now "Y"%} {% else %}2024 {%endif%}</i></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Keluar dari sistem</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Apakah <span class="fw-bold">{{user.username|title}}</span> akan keluar dari Dispenda Surat Tugas? Jika Ya, silakan tekan tombol Logout, atau tekan tombol Cancel untuk membatalkan.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout/">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js'%}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js'%}"></script>
    
    <script>
        function cobaya() {
            mywebsite = document.getElementById('mywebsite').value;
            
            if(mywebsite.length>0)
                document.location.href=mywebsite+document.getElementById('coba').value;
        }

        
    </script>
</body>

</html>