{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script> integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.3.200/pdf.min.js"></script>
    <title>Test PDF viewer</title>
</head>
<body>
    <div style="display: flex; justify-content: center;">
        <button id="zoomout" style="margin-right:10px">-</button>
        <button id="prev" style="margin-right:10px">&larr; prev</button>    
        <button id="next" style="margin-left:10px">next &rarr;</button>
        <button id="zoomin" style="margin-left:10px">+</button>
    </div>
    <div style="text-align: center;">
        <p>Page: <span id="page"></span> / from: <span id="max_page"></span></p>
        <span id="cobacoba"></span>
    </div>


   
        <canvas id="mypdf" >
            
        </canvas>
   
    <script>
        // let pdfDoc = null;
        // let pageNum=1;
        // let pageRendering=false;
        // let pageNumPending=null;
        // let scale=1;
        // let canvas = document.getElementById('mypdf');
        // let ctx = canvas.getContext('2d');
        // let test = "{{test}}";

        // console.log(test);

        // function renderPage(num) {
        //     pageRendering=true;

        //     pdfDoc.getPage(num).then((page)=> {
        //         let viewPort= page.getViewport({
        //             scale:1
        //         });
        //         canvas.height = viewPort.height;
        //         canvas.width = viewPort.width;

        //         let renderContext = {
        //             canvasContext:ctx,
        //             viewPort:viewPort,

        //         }

        //         let renderTask = page.render(renderContext);

        //         renderTask.promise.then(()=> {
        //             pageRendering=false;
        //             if (pageNumPending !==null) {
        //                 renderPage(pageNumPending);
        //                 pageNumPending=null;
        //             }
        //         })
        //     })

        //     document.getElementById('page').textContent=num;
        // }
        let docPdf = null;

        pdfjsLib.getDocument("{% static 'test.pdf'%}").promise.then((doc)=>{
            document.getElementById('max_page').textContent = doc._pdfInfo.numPages;  
        }).finally(async ()=> {
            let page = await docPdf.getPage(0);
            page.then((data)=> {
                console.log(data);
            })
        });
       
    </script>
</body>
</html>